<nb-layout>

  <nb-layout-header fixed class="header">
  <!-- Insert header here -->
  <h4>Speech Demo</h4>
  </nb-layout-header>

  <nb-layout-column>
    <div class="main">
      <nb-card>
        <nb-card-body>
          {{translation}} 
          <nb-list>
            <nb-list-item *ngFor="let msg of textList">
              {{ msg }}
            </nb-list-item>
          </nb-list>
        </nb-card-body>
        <button nbButton shape="round" size="small" status="danger" (click)="mdnListen()" class="voice" [ngClass]="{'listening' : isListening}">
          <img src="../assets/icons/voice.svg" class="animated bounceIn">
        </button>
      </nb-card>
    </div>
    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer fixed>
  <!-- Insert footer here -->
  </nb-layout-footer>

</nb-layout>
