.header{
    nav{
        background-color: #323259;
    }
}

.main{
    width: 50%;
    height: 90%;
    margin: auto;
    nb-card{
        height: 100%;
        nb-list{
            nb-list-item{   
                border: none;
            }
        }
        .voice{
            height: 80px;
            width: 80px;
            border-radius: 50%;
            align-self: center;
            margin-bottom: 20px;
            img{
                width: 20px;
                color: white;
                animation-play-state: paused; 
            }
        }
        
        .listening{
            img{
                animation-play-state: running;
            }
        }
    }
}
